.modalContentWrapper {
  width: 100%;
  height: 100%;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.backButtonWrapper {
  position: absolute;
  right: 1rem;
}

.imgWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.imgWrapper img {
  border-radius: 10px;
}

.galleryControls {
  display: flex;
  justify-content: center;
}

.galleryControl {
  padding: 1rem;
  margin: 0 1rem;
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.galleryControl img {
  width: 2rem;
}

.galleryControlNext {
  transform: rotate(180deg);
}

@media screen and (max-width: 800px) {
  .imgWrapper {
    height: 50vh;
  }

  .imgWrapper img {
    object-fit: cover;
  }
}
